<carousel [animation]="'slide'" [keyboard]=true>
  <!-- First slide -->
  <slide>
    <div class="carousel-item active view hm-black-slight" style="background-image: url(assets/images/thrissur_pooram_94.jpg)">
        <!-- Caption -->
        <div class="carousel-caption">
            <h3 class="h3-responsive">Festivals</h3>
            <p>Best places you should see. This land of diversity is rich in heritage and has numerous festivals celebrations which depict vibrant colours, have striking fragrances, and involve heart touching music, old norms, and traditions.</p>
        </div>
        <!-- /.Caption -->
    </div>
    <!--/.First slide-->
  </slide>
  <slide>
    <div class="carousel-item active view hm-black-slight" style="background-image: url(assets/images/pexels-photo-322482.jpeg)" >
      <!-- Caption -->
      <div class="carousel-caption">
          <h3 class="h3-responsive">Wildlife</h3>
          <!-- <p>Best places you should see. This land of diversity is rich in heritage and has numerous festivals celebrations which depict vibrant colours, have striking fragrances, and involve heart touching music, old norms, and traditions.</p> -->
      </div>
      <!-- /.Caption -->
    </div>
  </slide>
  <slide>
    <div class="carousel-item active view hm-black-slight" style="background-image: url(assets/images/pexels-photo-189215.jpeg)">
      <!-- Caption -->
      <div class="carousel-caption">
          <h3 class="h3-responsive">Monuments</h3>
          <!-- <p>Best places you should see. This land of diversity is rich in heritage and has numerous festivals celebrations which depict vibrant colours, have striking fragrances, and involve heart touching music, old norms, and traditions.</p> -->
      </div>
      <!-- /.Caption -->
    </div>
  </slide>
  <slide>
    <div class="carousel-item active view hm-black-slight" style="background-image: url(assets/images/alappuzha_backwaters_17_554.jpg)">
      <!-- Caption -->
      <div class="carousel-caption">
          <h3 class="h3-responsive">Vacations</h3>
          <!-- <p>Best places you should see. This land of diversity is rich in heritage and has numerous festivals celebrations which depict vibrant colours, have striking fragrances, and involve heart touching music, old norms, and traditions.</p> -->
      </div>
      <!-- /.Caption -->
    </div>
  </slide>

</carousel>
