<!-- <div class="navbar-wrapper"> -->
<navigation></navigation>
<carousel></carousel>

<!-- <div class="container bg-3 text-center">
  <h3>What is Lorem Ipsum?</h3><br>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
    has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  <div class="row">
    <div class="col-sm-4">
      <figure>
        <img src="assets/images/pexels-photo-386009.jpeg" class="img-responsive" style="width:100%" alt="Image">
        <figcaption>
          <h3>Travel</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <p><a href="#">Read More</a></p>
        </figcaption>
      </figure>
    </div>
    <div class="col-sm-4">
      <figure>
        <img src="assets/images/food-salad-restaurant-person.jpg" class="img-responsive" style="width:100%" alt="Image">
        <figcaption>
          <h3>Eat</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <p><a href="#">Read More</a></p>
        </figcaption>
      </figure>
    </div>
    <div class="col-sm-4">
      <figure>
        <img src="assets/images/pexels-photo-268095.jpeg" class="img-responsive" style="width:100%" alt="Image">
        <figcaption>
          <h3>Relax</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <p><a href="#">Read More</a></p>
        </figcaption>
      </figure>
    </div>
  </div>

</div> -->
<!-- </div> -->
