/* You can add global styles to this file, and also import other style files */
/* TEMPLATE STYLES */
/* Necessary for full page carousel*/

html,
body {
    height: 100%;
}
/* Navigation*/

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #304a74;
}

footer.page-footer {
    background-color: rgba(63, 81, 181, 1) !important;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

/* Carousel*/
@media (max-width: 776px) {
    .carousel {
        height: 100%;
    }
}

.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel {
  height: 80%;
}

.carousel-item.active, .carousel-item-next, .carousel-item-prev {
  justify-content: space-around;
  background-size: cover;
  overflow: hidden;
}

/*Caption*/

.flex-center {
    color: #fff;
}
.navbar .btn-group .dropdown-menu a:hover {
    color: #000 !important;
}
.navbar .btn-group .dropdown-menu a:active {
    color: #fff !important;
}

.search {
  width: 90%;
}

.fa-facebook, .fa-youtube, .fa-sign-on {
  font-size: 1.4em;
}

.fa-search:before {
  color: #fff;
}

.social-links {
  border-left: 1px solid #ccc;
  margin: 0px 0px 0 12px;
}

.navbar-nav {
  align-items: center;
}
.navbar-brand {
  font-family: Allerta Stencil,sans-serif;
  font-size: 2.1em;
}

.fixed-secondary-nav {
  position: fixed;
  z-index: 300;
  top: 76px;
  width: auto;
  left: 0;
  right: 0;
  line-height: 5em;
  padding: 0;
  overflow: visible;
  box-shadow: 0 0 40px rgba(0,0,0,.2), 0 4px 8px rgba(0,0,0,.3);

  .nav-link{
    font-family: 'Roboto', sans-serif;
    color: #212121 !important;
    padding: 8px 8px;
    height: 100%;
    width: 100%;
    &:hover {
      color: #fff !important;
      transition: 0.2s;
    }

    h4 {
      font-size: 1.2em;
    }
    h3 {
      font-weight: 500;
    }


  }

  .nav-item {
    width: 40%;
    height: 100%;
    width: 100%;
    outline: none;

    &:hover {
      background-color: rgba(63, 81, 181, 0.8);
      transition: all 0.2s ease 0s;
    }

    &.active {
      background-color: rgba(63, 81, 181, 1);
      a {
        color: #fff !important;
      }
    }
  }

  .nav-item:not(:first-child) {
    border-left: 1px solid #ddd;
  }
}


@media only screen and (max-width: 768px){

  .fixed-secondary-nav  {
      background-color: #4285F4;
  }
}
.navbar-collapse {
    float: left;
    width: 100%;
    clear: both;
}

@media (min-width: 768px) {
    .navbar-right {
        margin-top: -50px;
    }
}
