@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';



/*body, html {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 20px;
}*/

/*Carousel*/
.carousel {
  background-color: #4285f4;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

/*
buttons
*/
.btn-primary {
  background-color: #4285f4;
}
.btn-primary:hover {
  background-color: #4285d8;
}

/*
Home page images and figcaptions
*/
img {
	width: 100%;
}

figure {
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
	display: block;
	cursor: pointer;
	overflow: hidden;
	border: 3px solid #fff;

}

figure:hover figcaption {
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: alpha(opacity=100);
	opacity: 1;
	top: 0;
}

figcaption {
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(200, 200, 244,.5);
	color: #01255e;
	-webkit-transition: all .9s ease;
	-moz-transition: all .9s ease;
	-o-transition: all .9s ease;
	-ms-transition: all .9s ease;
	transition: all .9s ease;
	-webkit-transition-delay: .1s;
	-moz-transition-delay: .1s;
	-o-transition-delay: .1s;
	-ms-transition-delay: .1s;
	transition-delay: .1s;
}

figure img {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1;
	-ms-transition: all 1s;
	transition: all 1s;
	-webkit-transition-delay: .1s;
	-moz-transition-delay: .1s;
	-o-transition-delay: .1s;
	-ms-transition-delay: .1s;
	transition-delay: .1s;
}

figure:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
  filter: blur(2px);
}

figcaption h3 {
	font-family: 'Open sans';
	font-weight: 600;
	color: #01255e;
	/*padding: 10px 20px;*/
	margin-bottom: 0;
	position: relative;
	righ: 100%;
	/*margin-top: 37px;*/
	font-size: 35px;
}

figcaption p {
	font-family: 'Open sans';
	padding: 10px 20px;
	margin-bottom: 0;
	margin-top: 20px;
	position: relative;
	left: 100%;
	font-size: 16px;
}

figure:hover h3,figure:hover p {
	left: 0;
}

figcaption a {
	color: #fff;
	border: 2px solid #fff;
	padding: 4px 10px;
	text-decoration: none;
}

figcaption a:hover {
	color: #4f5856;
	background: #fff;
}

footer {
  background-color: #f2f2f2;
  padding: 25px;
}

/*
Menu navigation
*/
/*.transparent {
    background: rgba(66, 133, 244, 0.6);
    position: absolute;
}*/
.icon-20 {
  line-height: 1.6;
}
.nav-top {
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(66, 133, 244, 0.6);
    height: 65px;
}

.nav-top .wrapper {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.logo-nav-top {
    float: left;
    overflow: hidden;
}

.nav-top a {
  color: #fff;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 35px;
  text-decoration: none;
}

.nav-top .list-horizontal {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}

.nav-top .list-horizontal li {
  margin: 0px 12px;
}

.nav-main {
    position: fixed;
    z-index: 300;
    top: 65px;
    width: auto;
    left: 0;
    right: 0;
    background: white;
    overflow: visible;
    box-shadow: 0 0 40px rgba(0,0,0,.2), 0 4px 8px rgba(0,0,0,.3);

}

.nav-main .wrapper {
  position: relative;
}

.nav-main .menu-main {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  margin: 0;

}

.menu-main .menu-item a {
  text-decoration: none;
  color: #212121;
}

.menu-main .menu-item {
  display: table-cell;
  padding-left: 16px;
}

.menu-main .menu-item:hover {
  background-color: #4285f4;
}

.menu-main .menu-item:hover a{
  color: #fff;
}

.menu-main .menu-item:not(:first-child) {
  border-left: 1px solid #ddd;
}

.menu-main .menu-item a h3 {
  font-weight: bold;
}


@media (min-width: 640px) {
  .wrapper {
      padding: 0 20px;
      width: 100%;
      margin: 0 auto 0;
      max-width: 1200px;
  }
  .wrapper {
      position: relative;
      padding: 0;
  }
}
