<nav class="nav nav-top">
  <div class="wrapper">
    <h3 class="logo logo-nav-top">
      <a class="logo-link" title="Visit Trivandrum" href="/en/">
        Explore Trivandrum
      </a>
    </h3>
    <ul class="list list-horizontal list-nav-top">
      <li>About Us</li>
      <li>Login</li>
      <li><search></search></li>
    </ul>
  </div>
</nav>
<nav class="nav-main">
  <div class="wrapper">
    <ul class="menu menu-main">
      <li class="menu-item">
        <a href="" class="menu-link">
          <h3>DO AND SEE</h3>
          <h4>Museum, Zoo, Beaches etc..</h4>
        </a>
        <!-- <div><h4>Lorem ipsum dolor sit amet, adipiscing auctor</h4></div> -->
      </li>
      <li class="menu-item">
        <a href="" class="menu-link">
          <h3>SLEEP</h3>
          <h4>Find best Hotels and Resorts...</h4>
        </a>
        <!-- <div><h4>Lorem ipsum dolor sit amet, adipiscing auctor</h4></div> -->
      </li>
      <li class="menu-item">
        <a href="" class="menu-link"><h3>EAT & DRINK</h3>
          <h4>Explore Restaurents, Party places</h4>
        </a>
        <!-- <div><h4>Lorem ipsum dolor sit amet, adipiscing auctor</h4></div> -->
      </li>
      <li class="menu-item">
        <a href="" class="menu-link"><h3>ESSENTIALS</h3>
          <h4>Get tourism information</h4>
        </a>
        <!-- <div><h4>Lorem ipsum dolor sit amet, adipiscing auctor</h4></div> -->
      </li>
    </ul>
  </div>
</nav>
